#burgerMenu{
  position: relative;
  right:0;
}

.navbar{
  background-color: transparent;
}
@media screen and (min-width: 850px) {
  
  .navbar-item{
    width:8rem;
    justify-content: center;
  }

  .navbar-pager{
    position: absolute;
    top: 0.25rem;
    margin-top: 0.2rem;
    right: 24rem;
    width: 8rem;
    height: 2.5rem;
    transition: transform 300ms ease-in-out;
    background-color:red;
  }
}

.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover{
  background-color: rgba(240, 141, 124, 0.3);
  color: black;
  margin-top: 0.35rem;
  margin-bottom: 0.3rem;
  padding: 0;
}
