/* .modal-image{
width: 70vw;
height: 50vh;
object-fit: contain;
} */


.blogs-card{
  width:60vw;
}

.blogs-parent{
  max-height: 100vh;
}

@media screen and (max-width: 599px) {
  .blogs-card{
    width: 90vw;
  }
}