.home-div{
  position:fixed;
  width:calc(100vw + 4rem);
  /* background-image:url('../assets/tower.jpg'); */
  height:calc(100vh + 5.4rem);
  margin-top:-5.4rem;
  margin-left: -4rem;
  /* background-size: cover; */
  z-index: 10000000;
}

.home-img{
  width: 100%;
  height: calc(100vh + 6.4rem);
  object-fit: cover;
}

.home-box{
  position: absolute;
  left: calc(50vw - 69px);
  top: 78vh;
  background-color: transparent;
}

.home-title{
  opacity: 1;
  color: grey;
  font-size: 20px;
}


.home-icon{
  margin-left:107px;
  opacity: 1;
  color: grey;
}

.home-box:hover{
  cursor: pointer;
}

.transition{
  transform: translate(0, -200vh);
  transition: transform 800ms ease-in-out;
}