.home-div{
  position:fixed;
  width:calc(100vw + 4rem);
  height:calc(100vh + 5.4rem);
  margin-top:-5.4rem;
  z-index: 10000000;
}

.home-img{
  width: 100%;
  height: calc(100vh + 6.4rem);
  object-fit: cover;
  object-position: 53% 50%;
}

.home-box-parent{
  position: absolute;
  top: 11vh;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.home-box{
  background-color: transparent;
  animation: fadein 6s;
}

.home-name{
  opacity: 1;
  color: grey;
  font-size: 4rem;
  text-align: center;
}

.home-job{
  opacity: 1;
  font-size: 3rem;
  text-align: center;
  color: grey;
}

.transition{
  transform: translate(0, -600vh);
  transition: transform 800ms ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (max-width: 500px) {

  .home-box-parent{
    top: 22vh;
  }

  .home-name{
    font-size: 2rem;
  }

  .home-job{
    font-size: 1rem;
  }
}