.home-div{
  position:fixed;
  width:calc(100vw + 4rem);
  height: 110vh;
  margin-top: -10vh;
  z-index: 10000000;
}

.home-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 53% 50%;
}

.home-box-parent{
  position: absolute;
  top: 11vh;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.home-box{
  background-color: transparent;
  animation: fadein 6s;
}

.home-name{
  opacity: 1;
  color: grey;
  font-size: 4rem;
  text-align: center;
}

.home-job{
  opacity: 1;
  font-size: 3rem;
  text-align: center;
  color: grey;
}
.arrow-parent{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left:0;
  top: 37vh;
  width:100vw;
}

.down-arrow{
}

.down-arrow-two{
  margin-top: 100vh;
}

.down-arrow-three{
  margin-top: 100vh;
}

.down-arrow-four{
  margin-left: 300px;
}

.down-arrow-animation{
  /* animation:spin 2s; */
  animation: fly-down 8s linear;
  /* animation: push-the-page 2s; */
}

.down-arrow-animation-support{
  /* animation:spin 2s; */
  animation: support 8s linear;
  /* animation: push-the-page 2s; */
}

.transition{
  animation: page-up 8s linear;
  /* transform: translate(0, -600vh);
  transition: transform 800ms ease-in-out; */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fly-down{
  0%{ 
    margin-top:0px;
    transform: rotate(0);
  }
  6%{
    margin-top: 0px;
    transform: rotate(90deg);
  }
  16%{
    margin-top: calc(100vh - 28vh);
    transform: rotate(90deg);
  }
  17%{
    margin-top: calc(100vh - 28vh);
    transform: rotate(270deg);
  }
  100%{
    margin-top: calc(100vh - 28vh);
    transform: rotate(270deg);
  }
}

@keyframes support{
  0%{ 
    margin-top:120vh;
  }
  45%{
    margin-top: 120vh;
  }
  48%{
    margin-top: calc(100vh - 28vh);
  }
  100%{
    margin-top: calc(100vh - 28vh);
  }
}

@keyframes page-up{
  0%{
    transform: translate(0, 0);
  }

  17%{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(0, -50vh);
  }
  35%{
    transform: translate(0, -40vh);
  }
  37%{
    transform: translate(0, -45vh);
  }
  50%{
    transform: translate(0, -30vh);
  }
  100%{
    transform: translate(0, -130vh)
  }
}

@media screen and (max-width: 500px) {

  .home-box-parent{
    top: 22vh;
  }

  .home-name{
    font-size: 2rem;
  }

  .home-job{
    font-size: 1rem;
  }

  
}
