.home-div {
  position: fixed;
  width: calc(100vw + 4rem);
  height: 110vh;
  margin-top: -10vh;
  z-index: 10000000;
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 53% 50%;
}

.home-box-parent {
  position: absolute;
  top: 13vh;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.home-box {
  background-color: transparent;
  animation: fadein 2s;
  color: grey;
  text-align: center;
  font-size: 2rem;
}

.home-name {
  font-size: 3rem;
}

.home-job {
  font-size: 2rem;
}
.arrow {
  font-size: 1.5rem;
}
.arrow:hover {
  cursor: pointer;
}

.arrow:hover .down-arrow {
  transform: rotate(0.25turn);
  transition-duration: 0.3s;
}

.transition {
  transition: all 600ms ease-in-out;
  transform: translateY(-130vh);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-up {
  from {
    margin-top: -10vh;
  }
  to {
    margin-top: -200vh;
  }
}

@media screen and (max-width: 500px) {
  .home-box-parent {
    top: 22vh;
  }
  .arrow {
    font-size: 1rem;
  }

  .home-name {
    font-size: 2rem;
  }

  .home-job {
    font-size: 1rem;
  }
}
