
.pager {
  /* position: absolute; */
  transition: transform 300ms ease-in-out;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 125px);

}

.page {
  /* margin-top:-1rem; */
  width: 100vw;
  height: auto;
  padding:1rem;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}