
.pager {
  position: relative;
  margin-top:20px;
  transition: transform 300ms ease-in-out;
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 400px);
}

.page {
  margin-right:3rem;
  margin-left:3rem;
  width: calc(100vw - 6rem);
  display: inline-block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}