.pager {
  /* position: absolute; */
  transition: transform 500ms ease-in-out;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 125px);
}

.page {
  /* margin-top:-1rem; */
  width: 100vw;
  /* padding:1rem; */
  display: inline-block;
  overflow: hidden;
  height: calc(100vh - 51px);
}
