.project-tile{
  height: 50vh;
}

.custom-tile{
  padding:0;
  background-size: cover;

}

@media screen and (min-width: 650px) {
  .projects-grid {
    display: flex;
    justify-content: center;
  }
}

.project-column{
  min-width: 350px;
}

.tile-curtain{
  opacity: 0;
  background-color: white;
  width:100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  /* transform: translateY(-100%); */
}


.hover-top{
  opacity: 0;
  transform: translateY(-200px);
  z-index: 0;
  text-align: center;
}
.custom-tile:hover .tile-curtain{
  opacity: 0.7;
  /* transform: translateY(0);  */
}

.custom-tile:hover .hover-top{
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 1;
  z-index: 1000;
}