.project-tile{
  height: 50vh;
}

.custom-tile{
  padding:0;
  background-size: cover;

}

@media screen and (min-width: 650px) {
  .projects-grid {
    display: flex;
    justify-content: center;
  }
}

.project-column{
  min-width: 350px;
}

.tile-curtain{
  opacity: 0;
  background-color: white;
  width:100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  /* transform: translateY(-100%); */
}

.hover-top{
  opacity: 0;
  transform: translateY(-1000px);
  z-index: 0;
  text-align: center;
  margin:0;
  /* display: none; */
}
.custom-tile:hover .tile-curtain{
  opacity: 0.9;
  color:black;
  /* transform: translateY(0);  */
}

.custom-tile:hover .hover-top{
  transition: all 0.5s ease-in-out;
  transform: translateY(100px);
  opacity: 1;
  z-index: 1000;
  display: block;
}

.hover-bottom{
  margin:0;
  opacity: 0;
  transform: translateY(1000px);
  z-index: 0;
  text-align: center;
  /* display: none; */
}

.custom-tile:hover .hover-bottom{
  transition: all 0.5s ease-in-out;
  transform: translateY(200px);
  opacity: 1;
  z-index: 1000;
  display: block;
}